<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Register</title>
</head>

<body>

    <header class="header">
        <div class="main-header-top">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <input type="text" placeholder="Buscar producto" class="barraBusqueda">
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="Lista-Header">
            <ul class="ListIzquierda">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="ListDerecha">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="/logIn">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>

    <div class="main-register">
        <form action="resultado.html" method="POST">
            <p>
                <label></label>
                <input type="text" name="nombre" required placeholder="Nombre y apellido">
            </p>

            <p>
                <label></label>
                <input type="email" name="email" required placeholder="E-mail">
            </p>

            <p>
                <label></label>
                <input type="password" name="password" required placeholder="Contraseña">
            </p>
        </form>

        <h4>Fecha de nacimiento</h4>

        <input type="date" name="fecha" value="2021-07-19" min="1970">

        
        <p>
            <input type="text" name="domicilio" required placeholder="Domicilio">
        </p>

        <h4> Perfil de Usuario</h4>
        <input type="radio" name="radio-input" value="comprador" id="comprador" checked>
        <label for="comprador"> Comprador</label>

        <input type="radio" name="radio-input" value="vendedor" id="vendedor">

        <label for="vendedor"> Vendedor </label>

        <h5>Intereses</h5>
        <input type="checkbox" name="electro" value="Electro">
        <label for="electro"> Electro </label>


        <input type="checkbox" name="moda" value="Moda">
        <label for="moda"> Moda </label>

        <input type="checkbox" name="hogar" value="Hogar">
        <label for="hogar"> Hogar </label>

        <input type="checkbox" name="jugueteria" value="Juguetería">
        <label for="jugueteria"> Juguetería</label>


        <input type="checkbox" name="vida-sana" value="Vida sana">
        <label for="vida-sana"> Vida sana</label>
        <br>
        <button type="submit" class="Boton-enviar"> Enviar </button>
    </div>
    <footer>
        <div class=cuerpoTexto>
            <div class=iconos> <i class="fas fa-credit-card"></i> </div>
            <h3 class="texto">Pagá con tarjeta o en efectivo</h3>
            <div>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
                <div class=iconos> <i class="fas fa-gift"></i> </div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
                <div class=iconos>
                    <div class=iconos> <i class="fas fa-gift"></i> </div>
                </div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>

    </footer>

</body>

</html>